@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

#body-index {
  background: #592202;
  height: 170vh;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
}

body > h1 {
  font-size: 3rem;
  margin: 0;
}

body > h2 {
  font-weight: 400;
  margin: .5rem 0;
  opacity: .6;
}

a.menu-burger {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 3rem;
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  z-index: 1;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: #222;
  color: white;
  max-width: 24rem;
  padding: 8rem 3rem 0 2rem;
  transform: translateX(-100%);
  transition: all .5s ease;
  z-index: 1;
}

nav.open {
  transform: translateX(0);
  
}

nav a {
  text-decoration: none;
  display: grid;
  grid-template-columns: 3rem 1fr;
  color: white;
  margin-bottom: 2rem;
  opacity: 0;
  transition: all .4s ease;
  transform: translateX(-6rem);
}

nav.open a {
opacity: 1;
transform: translateX(0);
}

nav a h3 {
transition: all .4s ease;
}

nav.open a:hover h3 {
padding-left: 1rem;
}

nav.open a:nth-child(1) {
transition-delay: .2s;
}

nav.open a:nth-child(2) {
transition-delay: .3s;
}

nav.open a:nth-child(3) {
transition-delay: .4s;
}

nav a h3 {
  margin: 0;
  grid-column: 2/3;
  font-size: 1.6rem;
}

nav a p {
  font-size: 1.1rem;
  line-height: 130%;
  opacity: .4;
}

.intro-container {
  display: flex;
  margin: 0 auto;
  top: -3vh;
  position: relative;
}

.intro-h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 26px;
  letter-spacing: .08em;
  line-height: 1em;
  text-transform: uppercase;
  color: whitesmoke;
  text-align: center;
  position: absolute;
  top: 1vh;
}

.intro-article img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: 50%;
  font-family: 'object-fit: cover; object-position: 50%;', sans-serif;
}

.grid-about {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #592202;
  margin: 0 auto;
}

.about h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  letter-spacing: .08em;
  line-height: 1em;
}

.about p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
  font-weight: lighter;
  color: whitesmoke;
  
}

.grid-container {
  display: grid;
  grid-template-columns: 188px auto;
  grid-auto-rows: 188px;
  margin: 0 auto;
}

.grid-container > article {
  display: flex;  
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grid-container article p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
  font-weight: lighter;
  color: whitesmoke;
}

.grid-item1 {
  background-color: #402320;
}

.grid-item1 img {
  max-width: 80px;
  max-height: 80px;
}

.grid-item2 {
  background-color: #A67356;
}

.grid-item3 {
  background-color: #8C4B26;
}

.grid-item4 {
  background-color: #731702;
}

.grid-item4 img {
  max-width: 80px;
  max-height: 80px;
}

.grid-container2 {
  display: grid;
  grid-auto-rows: 200px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.grid-item-footer img {
  width: 100%;
  max-height: 375px;
  padding-bottom: 1vh;
}

#index-footer {
  padding-bottom: 1vh;
}

@media screen and (min-width: 960px) {
  #index-main {
    max-width: 700px;
  }
  .intro-container {
    position: relative;
  }
  .intro-h1 {
    top: 45vh;
    position: absolute;
    left: 0vh;
    right: 0vh;
    bottom: 0vh;
    font-size: 45px;
    letter-spacing: .08em;
    line-height: 1em;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.72);
  }
  .intro-article img {
    object-fit: cover;
    max-width: 100%;
    height: 100vh;
  }
  .grid-container {
    grid-template-columns: 350px 350px;
    grid-auto-rows: 250px;
    margin: 0 auto;
  }
  .grid-item1 img {
    max-width: 120px;
    max-height: 120px;
  }
  .grid-item4 img {
    max-width: 120px;
    max-height: 120px;
  }
  .grid-container article p {
    font-size: 16px;
  }
  .about p {
    font-size: 18px;
  }
  .about h2 {
    font-style: normal;
    font-size: 35px;
    letter-spacing: .08em;
    line-height: 1em;
  }
  .grid-item-footer img {
    width: 100%;
    max-height: 375px;
    object-fit: cover;
    padding-bottom: 0;
  }
  
  #index-footer {
    padding-bottom: 0;
    margin: 0;
  }
  
}

/*  HITTA */ 

#body-hitta {
  background: #592202;
  height: 124vh;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
  padding-bottom: 10vh;
}

@media screen and (max-width: 375px) {
  #map {
    margin: 10px;
    height: 200px;
    width: 100%;
  }
  #findus {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
  }
  .intro-hitta-container {
    display: flex;
    margin: 0 auto;
    bottom: 44vh;
  }
  #findus h2 {
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    letter-spacing: .08em;
    line-height: 1em;
  }
  #findus p {
    font-weight: lighter;
  }
}

@media screen and (min-width: 960px) {
  #hitta-main {
    max-width: 700px;
  }
  .intro-hitta-container {
    display: flex;
    margin: 0 auto;
    top: -3vh;
    position: relative;
  }
  .intro-article h1 {
    text-align: center;
    color: whitesmoke;
    top: 45vh;
    position: absolute;
    left: 0vh;
    right: 0vh;
    bottom: 0vh;
    font-size: 45px;
    letter-spacing: .08em;
    line-height: 1em;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.72);
  }
  .intro-article img {
    object-fit: cover;
    width: 100%;
    height: 750px;
  }
  #findus {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-auto-rows: 200px;
  margin: 10px;
  padding: 10px;
  }
  #findus p {
    padding: 10px;
    color: whitesmoke;
  }
  #findus h2 {
    padding: 10px;
    color: whitesmoke;
  }
  #map {
    margin: 10px;
    height: 200px;
    width: 100%;
  }
}

/* MAT MENY SIDA */

#body-meny {
  background: #592202;
  height: 521vh;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
}

.menu-section {
  position: relative;
  bottom: 2.5vh;
  background-color: whitesmoke;
}

.menu-section-sides {
  position: relative;
  bottom: 6.69vh;
  background-color: whitesmoke;
}

.menu-section-dipp {
  position: relative;
  bottom: 11vh;
  background-color: whitesmoke;
}

.menu-section-dryck {
  position: relative;
  bottom: 15.1vh;
  background-color: whitesmoke;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-left: 25px;
  position: relative;
}

ul {
  list-style: none;
}

.menu-item section h1 {
  font-style: normal;
  font-weight: lighter;
  font-size: 35px;
  letter-spacing: .08em;
  line-height: 1em;
}

.menu-item section p, h1 {
  color: #222;
}
  
.price {
  color: #222;
}

.menu-intro-container {
  display: flex;
  margin: 0 auto;
  position: relative;
  bottom: -1vh;
}

.menu-intro-article img {
  width: 100%;
  height: -34vh;
  object-fit: cover;
  object-position: 50%;
  font-family: 'object-fit: cover; object-position: 50%;', sans-serif;
}

.menu-intro-text {
  position: relative;
  color: #222;
  display: flex;
  text-align: left;
  padding: 25px;
  background-color: whitesmoke;
}

.menu-intro-text-dipp {
  position: relative;
  color: #222;
  display: flex;
  text-align: left;
  padding: 25px;
  background-color: whitesmoke;
  bottom: 71px;
}

.menu-intro-text-dipp h2 {
  font-style: normal;
  font-size: 35px;
  letter-spacing: .08em;
  line-height: 1em;
}

.menu-intro-text h2 {
  font-style: normal;
  font-size: 35px;
  letter-spacing: .08em;
  line-height: 1em;
}

.menu-intro-text p {
  font-weight: lighter;
}

.menu-item-sides {
  bottom: 38px;
  height: 200px;
  position: relative;
  color: #222;
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 25px;
  background-color: whitesmoke;
}

.menu-item-sides h2 {
  font-style: normal;
  font-size: 35px;
  letter-spacing: .08em;
  line-height: 1em;
}

.menu-item-sides img {
  position: relative;
  bottom: 55px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50%;
  font-family: 'object-fit: cover; object-position: 50%;', sans-serif;
}

.menu-item-dryck {
  bottom: 13vh;
  height: 200px;
  position: relative;
  color: #222;
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 25px;
  background-color: whitesmoke;
}

.menu-item-dryck h2 {
  font-style: normal;
  font-size: 35px;
  letter-spacing: .08em;
  line-height: 1em;
}

.menu-item-dryck img {
  position: relative;
  bottom: 115px;
  width: 100%;
  height: 250px;
  object-fit: contain;
  object-position: 80%;
  font-family: 'object-fit: cover; object-position: 50%;', sans-serif;
}

.footer-meny {
  position: relative;
  left: 0;
  bottom: 17.2vh;
  width: 100%;
  height: 200px;
  background-color: whitesmoke;
}

@media screen and (max-width: 375px) {
  .menu-intro-article > .intro-h1 {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  #meny-main {
    max-width: 700px;
  }
  .menu-intro-article img {
    object-fit: cover;
    max-width: 100%;
    height: 100vh;
  }
  .menu-intro-text {
    top: 0.51vh;
  }
  .menu-section-sides {
    bottom: 7.2vh
  }
  .menu-section-dipp {
    bottom: 11.6vh;
  }
  .menu-item-dryck {
    bottom: 13.7vh;
  }
  .menu-section-dryck {
    bottom: 15.8vh;
  }
  .footer-meny {
    bottom: 18vh;
    height: 150px;
  }
}
