body {
  background: #eee;
  height: 100vh;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body > h1 {
  font-size: 3rem;
  margin: 0;
}

body > h2 {
  font-weight: 400;
  margin: .5rem 0;
  opacity: .6;
}

a.menu-burger {
  position: fixed;
  top: 2rem;
  left: 2rem;
  font-size: 3rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: #222;
  color: white;
  max-width: 24rem;
  padding: 8rem 3rem 0 2rem;
  transform: translateX(-100%);
  transition: all .5s ease;
}

nav.open {
transform: translateX(0);
}

nav a {
  text-decoration: none;
  display: grid;
  grid-template-columns: 3rem 1fr;
  color: white;
  margin-bottom: 2rem;
  opacity: 0;
  transition: all .4s ease;
  transform: translateX(-6rem);
}

nav.open a {
opacity: 1;
transform: translateX(0);
}

nav a h3 {
transition: all .4s ease;
}

nav.open a:hover h3 {
padding-left: 1rem;
}

nav.open a:nth-child(1) {
transition-delay: .2s;
}

nav.open a:nth-child(2) {
transition-delay: .3s;
}

nav.open a:nth-child(3) {
transition-delay: .4s;
}

nav a h3 {
  margin: 0;
  grid-column: 2/3;
  font-size: 1.6rem;
}

nav a p {
  font-size: 1.1rem;
  line-height: 130%;
  opacity: .4;
}
