:root {
  --body-color: #eee;
  --nav-color: #eee;
}

body {
  background-color: var(--body-color);
}

header {
  display: flex;
  position: fixed;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 8vh;
  background-color: var(--nav-color);
}

a.icon {
  font-size: 5vh;
  color: black;
  text-decoration: none;
  display: block;
  position: absolute;
  right: 1vh;
  top: 2.5vh;
}



